{% extends "core/index.html" %}

{% block content %}

<div class="bt-container">

    <a href="{% url 'credor:credor_servido_add' %}">
        <button class='bt'>Adicionar Credor Servidor</button>
    </a>
    <a href="{% url 'credor:credor_fornecedor_add' %}">
        <button class='bt'>Adicionar Credor Fornecedor</button>
    </a>
    <a href="#">
        <button class='bt'>Credores</button>
    </a>
    <a href="#">
        <button class='bt'>Estatísticas</button>
    </a>

</div>

{% endblock %}