{% extends "index.html" %}

{% block content %}


<div class="bt-container">

    <a href="{% url 'processo_pagamento:criar_processo' %}">
        <button class='bt'>Preparar Processo</button>
    </a>
    <a href="{% url 'diaria:diarias' %}">
        <button class='bt'>Materiais de Comsumo</button>
    </a>
    <a href="#">
        <button class='bt'>Serviços de Pessoa Jurídica</button>
    </a>
    <a href="#">
        <button class='bt'>Serviços de Pessoa Física</button>
    </a>
    <a href="#">
        <button class='bt'>Emitir Processos</button>
    </a>

</div>


{% endblock %}