{% extends "core/index.html" %}

{% block content %}


<table class="info">
    <tbody>
    {% for diaria in diarias_cadastradas %}
    <tr>
        <td>Credor</td>
        <td> {{ diaria.credor.nome }}</td>
    </tr>
    <tr>
        <td>Destino</td>
        <td> {{ diaria.destino }}</td>
    </tr>
    <tr>
        <td>Data da Saída</td>
        <td> {{ diaria.data_saida }}</td>
    </tr>
    <tr>
        <td>Data da Volta</td>
        <td> {{ diaria.data_volta }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>

{% endblock %}