<!doctype html>

{% load static %}

{% if user.is_authenticated %}

<html lang="pt-br">
<head>
    <meta charset="utf-8">

    <title>Gerenciador de Processos Orçamentário</title>

    <link rel="stylesheet" href="{% static 'css/estilo_pagina.css' %}" />
    <link rel="stylesheet" href="{% static 'css/estilo_botoes.css' %}" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

    <script type="text/javascript">
            $(document).ready(function() {
            $('.table.tb_diarias tr:odd').css('background-color', '#ccc');
            $('.table.tb_diarias tr:even').css('background-color', '#fff');
         });
    </script>

</head>
<body>
    <div class="content">

            <div class="menu">

                <ul>

                    <li class="botao-home">
                        <a href="{% url 'core:home' %}">
                            <img src="{% static 'image/home.png' %}" />
                        </a>
                    </li>

                    <li class="pure-menu-selected">
                        <a href="{% url 'relatorios:relatorios_view' %}">Formulários</a>
                    </li>

                    <li class="pure-menu-selected">
                        <a href="{% url 'credor:credor' %}">Credores</a>
                    </li>

                    <li class="pure-menu-selected">
                        <a href="{% url 'processo_pagamento:processo' %}">Processos</a>
                    </li>

                    <li class="pure-menu-selected">
                        <a href="{% url 'diaria:diaria' %}">Diárias</a>
                    </li>

                    <li class="pure-menu-selected">
                        <a href="#">Sobre</a>
                    </li>

                    <li class="botao-sair" >
                        <a href="{% url 'core:logout' %}">
                            <img src="{% static 'image/sair.png' %}" />
                        </a>
                    </li>

                </ul>

        </div>

        <div class="content">
            {% block content %}

            {% endblock %}
        <div class="footer">
            <p>© 2017 - Desenvolvido por Gilvonaldo Cavalcanti</p>
        </div>

    </div>

</body>

</html>

{% else %}


{{ login }}


{% endif %}