 .container-cadastro-diaria {
         width: 100vw;
         height: 100vh;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center
     }
     .box-cadastro-diaria {
         width: 300px;
         height: 300px;
         background: #fff;
     }
     body {
        margin: 0px;
}

div.menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}

div.menu ul li { display: inline; }

div.menu ul li a {
    padding: 10px 30px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

div.menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #a0a5a0;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EDEDED;
    color: black;
    text-align: center;
}

.bola {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    width: 60px;
    border: 1px solid #000000;
    background-color: #ccc;
    margin: auto;
}

li.botao-sair {
    margin: right;
}